@import "tailwindcss";

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  background-color: #0C0C0C;
  font-family: 'Kanit', sans-serif;
}

.page-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .page-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1024px) {
  .page-container {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
